
.inline-block {
    display: inline-block;
    vertical-align: top;
    
}


header.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #000000;
    padding: 20px; 
    color: white;
    font-weight: bold;
    
}

p, h5 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
    width: 23%;
    padding: 1%;
    box-sizing: border-box; 
}


nav {
    width: 73%;
    padding: 1%;
    box-sizing: border-box; 
    text-align: right; 
    
}


ul {
    width: 50%;
    margin-left: auto;
    
}

header.navigation ul li {
    margin-right: 20px;
}


.logo img {
    text-align: center;
    width: 100px;
}


.heroImg {
    height: 650px;
    padding: 25px;
    text-align: center; 
}


.content p {
    text-align: center; 
}

.heroImg img {
    width: 600px; 
}

footer {
    background-color: #000000;
    padding: 1%;
}


footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}


footer li {
    padding: 5px 10px;
    list-style-type: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
body {
    background-color: #414141; 
    font-family: Helvetica, Arial, sans-serif;
}

.heroImg .content button {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.heroImg .content button:hover {
    background-color: #007bff;
}


